* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-color: #f5fdff;
  }
  


    
/* navbar */

.navbar{
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    align-items: center;
    
}
.nav-link{
    text-decoration: none;
    color: black;
    font-size: 22px;
    transition: 0.3s;
}

.nav-link:hover{
    color: #f1646c;
    text-decoration: underline;
}

.active{
    text-decoration: underline;
}
.logotitle{
    font-size: 36px;
    margin: 0;
    font-weight: 200;
    text-decoration: none;
    color: black;
}

.logo-link{
    text-decoration: none;
}

.centerlogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10px 80px 0px 80px;
    
}

.centerlogo img{
    width: auto;
    height: auto;
    margin-bottom: -20px;
    padding: 0 2px
}
.centerlogo h3{
    width: 100%;
    height: auto;
    
}


@media screen and (max-width: 540px) {
    .logotitle{
        font-size: 30px;
    }

    .nav-link{
        font-size: 20px;
    }

    .centerlogo{
        margin: 10px 30px 0px 30px;
        
    }

  }

/* navbar end */



/* gallery */

.gallery{
    width: 100%;
    height: auto;
    padding: 0 5%;
}


  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  

.column {
    -ms-flex: 25%; 
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 0px;
    vertical-align: middle;
    width: 100%;
  }
  

  @media screen and (max-width: 1140px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
 
  @media screen and (max-width: 540px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

  /* gallery hover */

  .container {
    position: relative;
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  
  
 
  
 
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .smalltext{
      margin-top: -30px;
  }


  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    font-family: 'Nunito', sans-serif;
    background-color: #008CBA;
  }

  .container:hover .overlay {
    opacity: 0.95;
  }

  .overlay1{
    background-color: #da8433;
  }

  .overlay2{
    background-color: #712F1F;
  }

  .overlay3{
    background-color: #C06338;
  }

  .overlay4{
    background-color: #389CCE;
  }

  .overlay5{
    background-color: #69B7E6;
  }

  .overlay6{
    background-color: #B7967E;
  }

  .overlay7{
    background-color: #FC65B3;
  }

  .overlay8{
    background-color: #386CB5;
  }

  .overlay9{
    background-color: #CFD5D7;
  }

  .overlay10{
    background-color: #F38887;
  }

  .overlay11{
    background-color: #407AC2;
  }

  .overlay12{
    background-color: #FDB1BA;
  }
  /* gallery end */



/* work pages */

/* topview */
.topview{
    margin-top: 0px;
    width: 100%;
    padding: 0 10%;
    display: flex;
    margin-bottom: 0px;
}

.topview-hero{
    margin-top: 50px;
    margin-bottom: 100px;
}

.topview-text{
    padding: 0 5%;
    width: 50%;
    font-family: 'Nunito', sans-serif;
}

.topview-text-h1{
    text-align: center;
font-size: 40px;
}

.topview-text-p{
font-size: 25px;
}

.topview-text-p-small{
    font-size: 15px;
    text-align: left;
    }

.topview-img{
    width: 50%;
}

.topview-img-image{
    display: block;
  width: 100%;
  height: auto;
}


@media screen and (max-width: 1500px) {
    .topview{  
        display: block;
    }

    .topview-text{
        width: 100%;
        padding: 0 10%;
        margin-bottom: 40px;
    }

    .topview-img{
        width: 100%;
        padding: 0 0%;
    }
    
  }

  @media screen and (max-width: 768px) {
    .topview-text{
        width: 100%;
        padding: 0;
    }

  }
  /* topview end */

  /* extrainfo */

.sketch1{
order: 1;

}

.sketch2{
    order: 2;
    display: flex;
  justify-content: center;
  align-items: center;
}

.sketch-img{
  padding: 2% 5%;
}

.overlay-sketch {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  font-family: 'Nunito', sans-serif;
  background-color: rgba(0, 0, 0, 0.205);
}

.text-sketch {
  color: white;
  font-size: 25px;
  position: absolute;
  width: 80%;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.container:hover .overlay-sketch {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.205);
  color: white;
}


.section2{
    background-color: #e8f1f3;
}

.topview-space-top{
    margin-top: 80px;
}

.topview-space-bottom{
    margin-bottom: 80px;
}

  /* extrainfo end */



/* work pages end */


/* footer */

.footer{

    margin-top: 50px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer p{
    color: rgb(46, 46, 46);
    font-family: 'Nunito', sans-serif;

}

/* footer end */