
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Playfair Display', serif;
}

a{
	text-decoration: none;
}

.navheader{
	margin-top: 30px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.navbar{
	font-size: 20px;

	position: fixed;
	
}

.navbar1{

}

.navbar2{
	margin-top: 0px;
}

.navtext{
	font-family: 'Raleway', sans-serif;
}



.navtext1{
	color: black;
}

.navtext2{
	color: white;
}

.active{
	color: #f1646c;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: red;

}

.fixed{
	position: fixed;
	z-index: 20;
}

.progress-bar {
  height: 8px;
  background: #4caf50;
  width: 0%;
}


.row {
  min-height: 110vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.whitebox{
	background-color: white;
	height: 200px;
	width: 100%;
}

.logo {
  top: 30px;
  left: 30px;
  width: 130px;
  cursor: pointer;
  transform: translate3d(0,0,0);
  -webkit-transform-style: preserve-3d;
}
/*.logo:hover {
  filter: drop-shadow(0px 4px 6px #191919);
  transform: translate(0, -2px);
  transition: all, .3s ease-out;
}*/
.startLogo {
  position: fixed;
  
}

.altLogo {
  position: absolute;
  top:0px;
  transform: translate3d(0,0,0);
}
.startLogo:active{
    animation: repaint 1ms;
}
.whiteLogo {
 
 
}

.blackLogo {
 
 
}
.redLogo {
  fill: red;
  stroke:red;
}
.black {
  background: #202020;
}

.white {
  background: whitesmoke;
}
.green{
  background: green;
}
#scroll {
  position: fixed;
  bottom: 40px;
  right: 100px;
  text-align: center;
  font-family: arial
}

@-webkit-keyframes repaint {

    from {
        width: 99.9%;
    }
    to {
        width: 100%;
    }

}

@-moz-keyframes repaint {

    from {
        width: 99.9%;
    }
    to {
        width: 100%;
    }

}

@keyframes repaint {

    from {
        width: 99.9%;
    }
    to {
        width: 100%;
    }

}

.repaint {
    -webkit-animation: repaint 100ms;
       -moz-animation: repaint 100ms;
        -ms-animation: repaint 100ms;
            animation: repaint 100ms;
}


@media only screen and (max-width: 600px) {
	.logo{
		left: 0;
		right: 0;
		margin: 0 auto;
	}
}