/* CSS Document */

body {
	margin: 0;
 max-height: 1020px;
	
  background-image:url("content/images/JapaneseParallax-01.png");
}

.scene {
  position: absolute;
  width: 100%;
  -webkit-transform: translateY(var(--translateY));
          transform: translateY(var(--translateY));
  will-change: transform;
}

.headtext{
	font-size: 10vw;
	font-family: 'Caveat Brush', cursive;
	color: #3f3383;
}
.content{
	height: 900px;
}
.center{
	display: flex;
	justify-content: center;
	position: absolute;
	width: 100%;
	margin-top: 5vh;
}

.link{
	font-size: 20px;
	text-decoration: none;
	color: white;
}

.footer{
	z-index: 100;
position: relative;
	top:1000px;
	display: flex;
	justify-content: center;

	width: 100%;
	height: 20px;
}