/* CSS Document */

body {
	margin: 0;
  height: 2000px;
  background-image:url("content/images/JapaneseParallax-01.png");
}

.scene {
  position: absolute;
  width: 100%;
  -webkit-transform: translateY(var(--translateY));
          transform: translateY(var(--translateY));
  will-change: transform;
}

.headtext{
	font-size: 10vw;
	font-family: 'Caveat Brush', cursive;
	color: #3f3383;
}

.center{
	display: flex;
	justify-content: center;
	position: absolute;
	width: 100%;
	margin-top: 5vh;
}