/* width = 360px (1440 / 4), height = 640px (2560 / 4)*/
@font-face {
  font-family: MadeWaffleSoft;
  src: url("../content/fonts/MADEWaffleSoft.woff");
}

@font-face {
  font-family: CircularStd;
  src: url("../content/fonts/CircularStd-Book.woff");
}

/*------------------------------------- fontface*/

html, body{overflow-x: hidden; -webkit-font-smoothing: antaliased;}
body {
	position: relative;
 	background-color: rgba(0,0,0,1);
 	margin: 0px 0px -10px 0px;
 	padding: 0;
	width: 100%;
	perspective: 1000px;
}

p{
	font-family: circularStd;
}

#video{ 
	width: 100%;
	height: 640px;
	position: absolute;
	z-index: 5;
	background-color: black;
}
.video- {margin: 0px 0px 0px 0px;}

#alles{
	transform-origin: left center;
	transform: rotateY(0deg) translate(-0px, 0%);/*10deg  -20%*/
	transition: transform .8s ease;
	float: left;
	background-color: white;
}

.bodywrap{height: 100%;	width: 100%;}

/*------------------------------------- Begin-inlog*/

#begin-sc{
	position: absolute;
	z-index: 2;
}
@keyframes gaweg{
	from{opacity: 1}
	25%{opacity: 1}
	50%{opacity: .9}
	75%{opacity: 1}
	75%{opacity: 1}
	to{opacity: 0}
}
.begin-bg{
	width: 100%;
	max-height: 2350px;
	height: 640px;
	background-color: white;
}
.hero2{width: 100%; height: auto; opacity: .3; position: relative; z-index: 2}
.begin-vak{
	margin: -350px 0px 0px 0px;
	display: flex;
	justify-content: center;
	position: relative; z-index: 2
}
.begin-vak form{
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: whitesmoke;
	width: 90%;
	height: 280px;
	border-radius: 20px;
}
.begin-vak form div{
	margin: 10px 0px 0px 0px;
	width: 90%;
	height: 60px;
	background-color: whitesmoke;
	text-align: center;
}
.begin-vak form div p{font-family: circularStd}
.begin-vak form div p2{color: #E52528}
.begin-vak form input{
	margin: 10px 0px 0px 0px;
	width: 90%;
	height: 60px;
	border: none;
	background-color: rgba(225,225,225,0.9);
	font-family: MadeWaffleSoft;
	text-align: left;
	padding: 0px 0px 0px 30px;
}
.begin-vak form input:hover{
	border: solid 2px red;
}
.begin-vak form input:first-child{
	margin: 30px 0px 0px 0px;
}
/*------------------------------------- belangrijk opbouw*/

header {
	width: 100%;
	height: 70px;
	background-color: rgba(0,0,0,1);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header > img {
	width: 100px;
	margin: 0px 0px 0px 20px;
}

.hamb {
	width: 62px;
	height: 8px;
	border-radius: 8px;
	background-color: white;
}
.hamb:nth-child(1) {
	transform-origin: center left;
	margin: 10px 20px 10px 10px;
	transition: all .4s ease; 
}
.hamb:nth-child(3) {
	transform-origin: center left;
	margin: 10px 20px 10px 10px;
	transition: all .4s ease;
}
.hamb:nth-child(2) {
	opacity: 1;
	margin: 10px 20px 10px 10px;
	transition: all .2s ease;
}

.navigatie{
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	transform: translate(0px, 0px);
	transition: transform .8s ease;
	z-index: -1;
	font-family: CircularStd;
}
.navigatie ul{
	background-color:rgba(0,0,0,1);
	margin: 0px;
}
.navigatie li{
	width: 320px;
	display: flex;
	justify-content: center;
}
.navigatie li a {
	color: white;
	text-decoration: none;
	margin: 30px 0px 0px 40px;
	font-size: 30px;
	transform-origin: left center;
}
.navigatie li .schuin:hover{
	transform-origin: left center;
	transform: rotateZ(5deg);
}
.navigatie li:nth-child(1) {
	text-decoration: none;
	margin: 10px 0px 30px 0px;
	font-size: 35px;
	font-family: MadeWaffleSoft;
}
.navigatie li:first-child a{color: #E52528; animation:none; transform: rotate(-3deg); transform-origin: left center;}
@keyframes schuin {
	from{transform: rotate(0deg)}
	to{transform: rotate(-3deg)}
}
.navigatie ul li:nth-child(14) {
	opacity: .5;
}

.hero{z-index: -2; width: 100%; height: 100%; opacity: .1}

h2{
	margin-left: 40px;
	font-family: CircularStd, Times New Roman ;
	margin: 0px 0px 10px 0px;
	color: #5C5C5C;
}
h1{font-family: MadeWaffleSoft, Times New Roman;}


.happy{
	color: white;
	background-color: #E52528;
	
	
}

.blokje{
	height: 40px;
}

.maketitel1{
	display: flex;
	justify-content: center;
	
}
.maketitel{
	position: absolute;
	display: flex;
	justify-content: center;
	height: 400px;
	width: 80%;
}


.zindex{
	z-index: 300;
}

#hetmenu{
	display: none ;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: whitesmoke;
	z-index: 2000;
}

.boxlist{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: -50px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.box{
	background-color: whitesmoke;
	width: 90%;
	height: 400px;
	border-radius: 20px;
	margin: 5% 0px 0px 5%;
}

.box1:first-child{ /*hidden*/
	height: 400px;
	overflow: hidden;
	transition: height 1.5s ease;
}
.img-box1{
	position: relative;
	background-image: url("../content/images/index-background.jpg");
	background-size: cover;
	background-position: top left;
	filter: brightness(35%) opacity(.7);
	height: 100%;
	margin: 0px 0px 0px 0px;
	z-index: 0;
}
.titel1{
	position: relative;
	margin: -395px 0px 0px 0px;
	width: 100%;
	display: flex;
	justify-content: center;
	z-index: 1;
}

.center1{
	display: flex;
	justify-content: center;
}

.line{
	animation: MoveUpDown 1.8s linear infinite;
	position: relative;
	width: 85%;
	
	height: 2px;
	
	background-color:#E52528; 
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: -290px;
  }
}

.titel8{
	position: relative;
	margin: 0px 0px 0px 0px;
	width: 100%;
	display: flex;
	justify-content: center;
	z-index: 1;
}

.box1 nav{
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	margin: 20px 0px 0px 0px;
}
.box1 ul{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}
.box1 ul li{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,0.8);
	list-style: none;
	margin: 10px 0px 0px -80px;
	width: 90%;
	height: 50px;
}
.box1 ul li a{
	text-decoration: none;
	color: white;
	font-family: MadeWaffleSoft;
	font-size: 28px
}
.box1 ul li:hover a{
	color: #E52528;
	margin-top: 5px;
	transition: margin-top .1s
}
.pijl2{height: 28px; filter: invert(100%);}
.box1 ul li:nth-child(4){margin: 30px 0px 0px -80px;background-color:#E52528; transform: rotate(-1.3deg)}
.box1 ul li:nth-child(5){margin: 40px 0px 0px -80px;}
.box1 ul li:nth-child(13){opacity: .8}
.box1 ul li:nth-child(14){opacity: .8}
.box1 ul li:nth-child(21){opacity: .8}
.box1 ul li:nth-child(23){opacity: .8}
.box1 ul li:nth-child(11){height: 90px; text-align: center;}
.box1 ul li:nth-child(15){height: 90px; text-align: center;}
.box1 ul li:nth-child(16){height: 90px; text-align: center;}
.box1 ul li:nth-child(17){height: 90px; text-align: center;}
.box1 ul li:nth-child(18){height: 140px; text-align: center;}
.box1 ul li:nth-child(19){height: 140px; text-align: center;}
.box1 ul li img{
	width: 80px;
}

.titel2{
	width: 100%;
	display: flex;
	justify-content: center;
}
.box2{padding: 0px 0px 0px 0px;
height: auto;}
.pijl{margin: 0px 50px 0px 20px; height: 17px;}
.associate{
	width: 100%;
	display: flex;
	justify-content:space-between;
}
.donelevel{color: black;}
.activelevel{color: #E52528;}

.titel4{
	position: relative;
	margin: 0px 0px 0px 0px;
	width: 100%;
	display: flex;
	justify-content: center;
	z-index: 1
}
.box4{}
.images{
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	height: 290px;
	margin-top: -15px;
}
.box4-img1{
	width: 60%;
	transform: rotate(-6deg);
	margin: 30px 0px 0px 0px;
}
.box4-img2{
	width: 60%;
	margin: 20px 0px 0px -160px;
	transform:rotate(6deg)
}


.collapsible {
  background-color: whitesmoke;
  color: black;
	font-family: CircularStd, Times New Roman ;

  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
}

.active, .collapsible:hover {
  background-color: #CACACA;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: whitesmoke;
}

.groter{
	width: 100%;
	height: 27px;
}


.grey{
	color: grey;
}
.red{
	color: #E52528;
}


.popupbox{
	position: fixed;
	height: 1200px;
	width: 100%;
	background-color: red;
	z-index: 1000;
	display: none;
}


.box5{
	height: 700px;
}
.titel5{
		position: relative;
	margin: 0px 0px 0px 0px;
	width: 100%;
	display: flex;
	justify-content: center;
	z-index: 1
}
.prof{
 	color: black;
	font-family: CircularStd, Times New Roman ;
	padding: 1px 0px 0px 18px;
	font-size: 18px;
}
.prof-1{
	width: 200px;
}
.character{
	width: 180px;
	margin: 10px 0px 0px 10px
}
.prof2{
	color: black;
	font-family: CircularStd, Times New Roman ;
	padding: 1px 25px 0px 0px;
	font-size: 18px;
	text-align: right;
}
.prof-2{
	width: 130px;
}
#naast-elkaar{
	display: flex;
	justify-content: space-between
}
.voordelen{
	background-color: white;
	width: 130px;
	text-align: left;
	padding: 2px 0px 5px 5px;
	margin: 80px 0px 0px 0px;
}
/*------------------------------------- media*/

@media (max-width:500px) {header{height: 80px;}}